 .row {
  display: flex;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding 0 4px;
}

.column.full-width {
    flex: 100%;
    max-width: 100%;
}


/* Responsive layout - one column */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

img {
    max-width: 95%;
    padding-top: 10px;
}

h1 {
    font-family: "Helvetica";
    font-weight: 100;
    padding: 50px;
}

#fullover {
  /* (A1) COVER ENTIRE WINDOW */
  position: fixed;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;

  /* (A2) BACKGROUND */
  background: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);

  /* (A3) CENTER CONTENT */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*input[type=checkbox] {*/
  /*display: none;*/
/*}*/

/*.container img {*/
  /*transition: none 0.25s ease;*/
  /*cursor: zoom-in;*/
/*}*/

/*input[type=checkbox]:checked ~ label > img {*/
  /*transform: translate(-50%, -50%);*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*cursor: zoom-out;*/
  /*max-height: 95%;*/
/*}*/
