 .row {
  display: flex;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding 0 4px;
}

/* Responsive layout - one column */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

img {
    max-width: 100%;
}

h1 {
    font-family: "Helvetica";
    font-weight: 100;
    padding: 50px;
}

input[type=checkbox] {
  display: none;
}

.container img {
  transition: none 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: zoom-out;
  width: 80%;
}
