 .row {
  display: flex;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding 0 4px;
}

.column.full-width {
    flex: 100%;
    max-width: 100%;
}


/* Responsive layout - one column */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

img {
    max-width: 95%;
    padding-top: 10px;
}

h1 {
    font-family: "Helvetica";
    font-weight: 100;
    padding: 50px;
}

#fullover {
  /* (A1) COVER ENTIRE WINDOW */
  position: fixed;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;

  /* (A2) BACKGROUND */
  background: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);

  /* (A3) CENTER CONTENT */
  display: flex;
  justify-content: center;
  align-items: center;

  /* (A4) HIDE OVERLAY BY DEFAULT */
  opacity: 0; visibility: hidden;
  transition: opacity 0.5s;

  /* show that clicking white space will zoomout */
  cursor: zoom-out;
}

/* (B) SHOW OVERLAY */
#fullover.show {
  opacity: 1; visibility: visible;
}

#fullover > img {
    max-width: 95%;
    max-height: 95%;
    cursor: default;
}

.x-out {
    position: absolute;
    display:flex;
    padding: 2px;
    right: 2%;
    top: 2%;
    text-align: right;
}
